rules_version = '2';
service cloud.firestore {


  match /databases/{database}/documents {
    match /users/{userId} {
       match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }
  }
  match /databases/{database}/documents {
    match /socialWork/{userId} {
       match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }
  }
  match /databases/{database}/documents {
    match /client/{userId} {
       match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }
  }
  match /databases/{database}/documents {
    match /family/{userId} {
       match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }
  }
   match /databases/{database}/documents {
    match /test/{userId} {
       match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }
  }
    match /databases/{database}/documents {
      match /Locations/{userId} {
         match /{allSubcollections=**} {
          allow read, write: if true;
        }
      }
    }
}